.card {
    width: 90vw;
    max-width: 500px;
    margin-top: 30px;
    min-height: 170px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

mat-icon {
    transform: rotate(180deg);
}

.text {
    margin-right: 15px;
}