<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ showName() }}</mat-card-title>
        <mat-card-subtitle>{{ comment.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ showBody() }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button [routerLink]="[comment.id]" routerLinkActive="router-link-active">
            <span class="text">View details</span>
            <mat-icon>keyboard_backspace</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>